<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">


                  <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
                    <h1>Change password</h1>
                    <p class="text-muted">Type your password</p>

                    <div class="form-group">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword" [ngClass]="{'is-invalid': submitted && resetPasswordForm.controls.newPassword.errors, 'is-valid': submitted && !resetPasswordForm.controls.newPassword.errors}" >
                      <div class="invalid-feedback d-block">
                        <div *ngIf="submitted && resetPasswordForm.controls.newPassword.hasError('required')">password required</div>
                        <div *ngIf="submitted && resetPasswordForm.controls.newPassword.hasError('minlength')">password invalid >5</div>
                    </div>
                    </div>
                   </div>


                   <div class="form-group">
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" class="form-control" placeholder="Confirm New Password" formControlName="confirmNewPassword" [ngClass]="{'is-invalid': submitted && resetPasswordForm.controls.confirmNewPassword.errors, 'is-valid': submitted && !resetPasswordForm.controls.confirmNewPassword.errors}">
                      <div class="invalid-feedback d-block">
                        <div *ngIf="submitted && resetPasswordForm.controls.confirmNewPassword.hasError('required')">password confirmation required</div>
                        <div *ngIf="submitted && resetPasswordForm.controls.confirmNewPassword.hasError('minlength')">password confirmation invalid >5</div>
                        <div *ngIf="submitted && resetPasswordForm.hasError('pwNewConfirmation')">password does not match </div>
                    </div>
                   </div>
                   </div>

                    <div class="row">
                      <div class="col-12">
                        <button type="submit" class="btn btn-block btn-primary px-4">Change my password</button>
                      </div>
                      <div class="col-12 text-right">
                        <button type="button" routerLink="/login" class="btn btn-link px-0">Back to login</button>
                      </div>
                    </div>
                  </form>


                </div>
              </div>
              <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                <div class="card-body text-center">
                  <div>
                    <h2>Sign up</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <button type="button" class="btn btn-primary active mt-3" routerLink="/register">Register Now!</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  
