<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> List Of Events
                </div>
                <div class="card-body">
                    <div class="row float-right mb-3">
                        <div class="col-12">
                            <!-- <button type="button" class="btn btn-primary mr-1" data-toggle="modal" (click)="primaryModal.show()">Add Event</button> -->
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                (click)="primaryModal.show()">Add Event</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="event-container">
                                <table style="width:100%" class="table table-striped table-hover">
                                    <tr>
                                        <th>N°</th>
                                        <th>Name</th>
                                        <!-- <th>Photo</th> -->
                                        <!-- <th>Tags</th> -->
                                        <th>Event Type</th>
                                        <th>Location</th>
                                        <th>Description</th>
                                        <th>Start and End Date</th>
                                        <th>Start and End Time</th>
                                        <th>Number of Tickets</th>
                                        <th>Price</th>
                                        <th>Delete</th>
                                        <th>Edit</th>
                                    </tr>
                                    <tr *ngFor="let item of eventsArray; let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{item.eventName | uppercase}}:</td>
                                        <td>{{item.eventPhoto}}:</td>
                                        <td>{{item.eventTags}}:</td>
                                        <td>{{item.eventType}}</td>
                                        <td>{{item.location}}</td>
                                        <td>{{item.eventDescription | lowercase | slice:0:3}}...</td>
                                        <td>{{item.startDate | date:'d/M/y'}}-{{item.endDate | date:'d/M/y'}}</td>
                                        <td>{{item.startTime | date:'shortTime'}}-{{item.endTime | date:'shortTime'}}
                                        </td>
                                        <td>{{item.numberOfTickets}}</td>
                                        <td>{{item.price}}</td>
                                        <td><button class="btn btn-danger" (click)="deleteEventFunction(item.id)">delete
                                                <i class="fas fa-trash-alt"></i></button></td>
                                        <td><button class="btn btn-dark" data-toggle="modal"
                                                (click)="primaryModal.show(item.id)">edit <i
                                                    class="fas fa-edit"></i></button></td>
                                        <!-- <td><button class="btn btn-dark" [routerLink]="[ '/edit-event', item.id ]">edit <i class="fas fa-edit"></i></button></td> -->
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>



<div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" *ngIf="!showEditButton">Add event</h4>
                <h4 class="modal-title" *ngIf="showEditButton">Edit event</h4>
                <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <!-- <p>One fine body&hellip;</p> -->

                        <form [formGroup]="addEditEventForm" (ngSubmit)="addEventFunction()">

                            <div class="form-group">
                                <label for="name">Event Name :</label>
                                <input type="text" class="form-control" id="name" placeholder="Type event name here"
                                    formControlName="eventName"
                                    [ngClass]="{'is-invalid': submitted && addEditEventForm.controls.eventName.errors, 'is-valid': submitted && !addEditEventForm.controls.eventName.errors}">
                                <div class="invalid-feedback d-block">
                                    <div *ngIf="submitted && addEditEventForm.controls.eventName.hasError('required')">
                                        Event
                                        name is required.</div>
                                </div>
                            </div>

                            <!-- <div class="form-group">
                                <label for="photo">Event Photo :</label>
                            </div> -->

                            <!-- <div class="form-group">
                                <label for="tags">Event Tags :</label>
                            </div> -->

                            <div class="form-group">
                                <label for="description">Event Description :</label>
                                <textarea class="form-control" row="10" id="description"
                                    placeholder="Type event description here" formControlName="eventDescription"
                                    [ngClass]="{'is-invalid': submitted && addEditEventForm.controls.eventDescription.errors, 'is-valid': submitted && !addEditEventForm.controls.eventDescription.errors}"></textarea>
                                <div class="invalid-feedback d-block">
                                    <div
                                        *ngIf="submitted && addEditEventForm.controls.eventDescription.hasError('required')">
                                        Event description is required.</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="animated fadeIn">
                                            <label for="startDate">Start Date :</label>
                                            <input type="text" class="form-control" [minDate]="minDate"
                                                [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker
                                                [(bsValue)]="bsValue" formControlName="startDate">
                                            <div class="invalid-feedback d-block">
                                                <div
                                                    *ngIf="submitted && addEditEventForm.controls.startDate.hasError('required')">
                                                    Start date is required.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="animated fadeIn">
                                            <label for="endDate">End Date :</label>
                                            <input type="text" class="form-control" [minDate]="minDate"
                                                [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker
                                                [(bsValue)]="bsValue" formControlName="endDate">
                                            <div class="invalid-feedback d-block">
                                                <div
                                                    *ngIf="submitted && addEditEventForm.controls.endDate.hasError('required')">
                                                    End
                                                    date is required.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="animated fadeIn">
                                            <label for="startTime">Start Time :</label>
                                            <timepicker [hourStep]="hstep" [minuteStep]="mstep"
                                                [showMeridian]="ismeridian" [readonlyInput]="!isEnabled"
                                                formControlName="startTime"></timepicker>
                                            <!-- <timepicker [(ngModel)]="mytime" (change)="changed()" [hourStep]="hstep"
                                        [minuteStep]="mstep" [showMeridian]="ismeridian"
                                        [readonlyInput]="!isEnabled" 
                                        formControlName="startTime"></timepicker> -->
                                            <div class="invalid-feedback d-block">
                                                <div
                                                    *ngIf="submitted && addEditEventForm.controls.startTime.hasError('required')">
                                                    Start time is required.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="animated fadeIn">
                                            <label for="endTime">End Time :</label>
                                            <timepicker [hourStep]="hstep" [minuteStep]="mstep"
                                                [showMeridian]="ismeridian" [readonlyInput]="!isEnabled"
                                                formControlName="endTime"></timepicker>
                                            <!-- <timepicker [(ngModel)]="mytime" (change)="changed()" [hourStep]="hstep"
                                        [minuteStep]="mstep" [showMeridian]="ismeridian"
                                        [readonlyInput]="!isEnabled" 
                                        formControlName="endTime"></timepicker> -->
                                            <div class="invalid-feedback d-block">
                                                <div
                                                    *ngIf="submitted && addEditEventForm.controls.endTime.hasError('required')">
                                                    End
                                                    time is required.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="location">Location :</label>
                                <input type="text" class="form-control" id="location"
                                    placeholder="Type your event location here" formControlName="location"
                                    [ngClass]="{'is-invalid': submitted && addEditEventForm.controls.location.errors, 'is-valid': submitted && !addEditEventForm.controls.location.errors}">
                                <div class="invalid-feedback d-block">
                                    <div *ngIf="submitted && addEditEventForm.controls.location.hasError('required')">
                                        location is required.</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="numberOfTickets">Number Of Tickets :</label>
                                <input type="number" id="numberOfTickets" name="numberOfTickets" min="1" max="100"
                                    formControlName="numberOfTickets"
                                    [ngClass]="{'is-invalid': submitted && addEditEventForm.controls.numberOfTickets.errors, 'is-valid': submitted && !addEditEventForm.controls.numberOfTickets.errors}">
                                <div class="invalid-feedback d-block">
                                    <div
                                        *ngIf="submitted && addEditEventForm.controls.numberOfTickets.hasError('required')">
                                        numberOfTickets is required.</div>
                                </div>
                            </div>

                            <!-- <div class="form-group form-check">
                              <span>Event Type :</span>
                              <input type="radio" id="free" name="eventType" value="free" class="form-control" id="eventType"  
                              formControlName="free"
                              [ngClass]="{'is-invalid': submitted && addEditEventForm.controls.free.errors, 'is-valid': submitted && !addEditEventForm.controls.free.errors}">
                              <label for="free">free</label><br>
        
                              <input type="radio" id="paid" name="eventType" value="paid" class="form-control" id="eventType" 
                              formControlName="paid"
                              [ngClass]="{'is-invalid': submitted && addEditEventForm.controls.paid.errors, 'is-valid': submitted && !addEditEventForm.controls.paid.errors}">
                              <label for="paid">paid</label><br>
        
                              <div class="invalid-feedback d-block">
                                <div *ngIf="submitted && addEditEventForm.controls.free.hasError('required') && addEditEventForm.controls.paid.hasError('required')">Event type is required.</div>
                            </div>
                            </div>  -->

                            <div class="form-group">
                                <label for="price">Price :</label>
                                <input type="number" id="price" name="price" min="1" max="100" formControlName="price"
                                    [ngClass]="{'is-invalid': submitted && addEditEventForm.controls.price.errors, 'is-valid': submitted && !addEditEventForm.controls.price.errors}">
                                <div class="invalid-feedback d-block">
                                    <div *ngIf="submitted && addEditEventForm.controls.price.hasError('required')">Price
                                        is
                                        required.</div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success btn-block"
                                *ngIf="!showEditButton">Save</button>

                            <button type="button" class="btn btn-success btn-block" *ngIf="showEditButton"
                                (click)="saveEventChanges()">Save Changes</button>
                            <button type="button" class="btn btn-success btn-block" *ngIf="showEditButton"
                                (click)="cancelEventChanges()">Cancel</button>
                        </form>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->