<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Events List
        </div>
        <div class="card-body">
          <!-- Button trigger modal -->
          <div class="row">
            <div class="col-sm-12">
              <button
                type="button"
                class="btn btn-primary my-1 float-right"
                data-toggle="modal"
                (click)="showModalAdd()"
              >
                <i class="fa fa-plus"></i> Add Event
              </button>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-4 offset-md-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-search"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="searchText"
                  placeholder="Search ..."
                />
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <table
              class="table table-striped table-hover table-responsive-lg"
              [mfData]="data | search: searchText" #mf="mfDataTable" [mfRowsOnPage]="5"
            >
              <thead>
                <tr>
                  <!-- <th>N°</th> -->
                  <th>
                    <mfDefaultSorter by="eventName">Name</mfDefaultSorter>
                  </th>
                  <!-- <th>Photo</th> -->
                  <!-- <th>Tags</th> -->
                  <th>
                    <mfDefaultSorter by="eventType">Event Type</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="location">Location</mfDefaultSorter>
                  </th>
                  <!-- <th>Description</th> -->
                  <!-- <th>
                    <mfDefaultSorter by="date"
                      >Start and End Date</mfDefaultSorter
                    >
                  </th> -->
                  <th>
                    <mfDefaultSorter by="time"
                      >Start and End Time</mfDefaultSorter
                    >
                  </th>
                  <th>
                    <mfDefaultSorter by="numberOfTickets"
                      >Number of Tickets</mfDefaultSorter
                    >
                  </th>
                  <th><mfDefaultSorter by="price">Price</mfDefaultSorter></th>
                  <th>Actions</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let item of mf.data; let i = index">
                  <!-- <td>{{i+1}}</td> -->
                  <td>{{ item.eventName | uppercase }}:</td>
                  <!-- <td>{{item.eventPhoto}}:</td>
                                    <td>{{item.eventTags}}:</td> -->
                  <td>{{ item.eventType }}</td>
                  <td>{{ item.location }}</td>
                  <!-- <td>{{item.eventDescription | lowercase | slice:0:3}}...</td> -->
                  <!-- <td>{{item.startDate | date:'d/M/y'}}-{{item.endDate | date:'d/M/y'}}</td> -->
                  <td>{{item.startTime | date:'shortTime'}}-{{item.endTime | date:'shortTime'}}</td>
                  <td>{{ item.numberOfTickets }}</td>
                  <td>{{ item.price }}</td>
                  <td>
                    <button
                      class="btn btn-info text-white"
                      (click)="showModalEdit(item._id)"
                    >
                      <i class="fa fa-edit"></i>
                    </button>
                    <button
                      class="btn btn-danger"
                      (click)="deleteEvent(item._id)"
                    >
                      <i class="fa fa-trash"></i>
                    </button>
                    <br />
                  </td>
                </tr>
              </tbody>

              <tfoot>
                <tr>
                  <td colspan="5">
                    <mfBootstrapPaginator
                      [rowsOnPageSet]="[5, 10, 15]"
                    ></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<div
  bsModal
  #modal="bs-modal"
  class="modal fade"
  tabindex="-1"
  eventType="dialog"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" eventType="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ modalTitle }}</h4>
        <button
          type="button"
          class="close"
          (click)="hideModal()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <!-- <p>One fine body&hellip;</p> -->

        <form [formGroup]="addEditEventForm" (ngSubmit)="addEventFunction()">
          <div class="form-group">
            <label for="name">Event Name :</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Type your event name"
              formControlName="eventName"
              [ngClass]="{
                'is-invalid':
                  submitted && addEditEventForm.controls.eventName.errors,
                'is-valid':
                  submitted && !addEditEventForm.controls.eventName.errors
              }"
            />
            <div class="invalid-feedback d-block">
              <div
                *ngIf="
                  submitted &&
                  addEditEventForm.controls.eventName.hasError('required')
                "
              >
                Event name is required.
              </div>
            </div>
          </div>

          <!-- <div class="form-group">
                        <label for="photo">Event Photo :</label>
                    </div> -->

          <!-- <div class="form-group">
                        <label for="tags">Event Tags :</label>
                    </div> -->

          <div class="form-group">
            <label for="description">Event Description :</label>
            <textarea
              class="form-control"
              row="10"
              id="description"
              placeholder="Type your event description"
              formControlName="eventDescription"
              [ngClass]="{
                'is-invalid':
                  submitted &&
                  addEditEventForm.controls.eventDescription.errors,
                'is-valid':
                  submitted &&
                  !addEditEventForm.controls.eventDescription.errors
              }"
            ></textarea>
            <div class="invalid-feedback d-block">
              <div
                *ngIf="
                  submitted &&
                  addEditEventForm.controls.eventDescription.hasError(
                    'required'
                  )
                "
              >
                Event description is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="eventPhoto">Event Photo :</label><br />
            <input
              type="file"
              name="eventPhoto"
              accept="image/*"
              (change)="onSelectImage($event)"
            />
            <img [src]="imgURL" height="150" width="150" *ngIf="imgURL" />
          </div>

          <!-- <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                                <div class="animated fadeIn">
                                    <label for="startDate">Start Date :</label>
                                    <input type="text" class="form-control" [minDate]="minDate1"
                                         #dp="bsDatepicker" bsDatepicker
                                        [(bsValue)]="bsValue" formControlName="startDate">
                                    <div class="invalid-feedback d-block">
                                        <div
                                            *ngIf="submitted && addEditEventForm.controls.startDate.hasError('required')">
                                            Start date is required.</div>
                                    </div>
                                </div>
                            </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                                <div class="animated fadeIn">
                                    <label for="endDate">End Date :</label>
                                    <input type="text" class="form-control" [minDate]="minDate2"
                                         #dp="bsDatepicker" bsDatepicker
                                        [(bsValue)]="bsValue" formControlName="endDate">
                                    <div class="invalid-feedback d-block">
                                        <div
                                            *ngIf="submitted && addEditEventForm.controls.endDate.hasError('required')">
                                            End
                                            date is required.</div>
                                    </div>
                                </div>
                            </div>
            </div>
          </div> -->

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="animated fadeIn">
                  <label for="startTime">Start Time :</label>
                                    <timepicker [hourStep]="hstep" [minuteStep]="mstep"
                                        [showMeridian]="ismeridian" [readonlyInput]="!isEnabled"
                                        formControlName="startTime"></timepicker>
                  <!-- <timepicker [(ngModel)]="mytime" (change)="changed()" [hourStep]="hstep"
                                [minuteStep]="mstep" [showMeridian]="ismeridian"
                                [readonlyInput]="!isEnabled" 
                                formControlName="startTime"></timepicker> -->
                  <div class="invalid-feedback d-block">
                                        <div
                                            *ngIf="submitted && addEditEventForm.controls.startTime.hasError('required')">
                                            Start time is required.</div>
                                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="animated fadeIn">
                  <label for="endTime">End Time :</label>
                                    <timepicker [hourStep]="hstep" [minuteStep]="mstep"
                                        [showMeridian]="ismeridian" [readonlyInput]="!isEnabled"
                                        formControlName="endTime"></timepicker>
                  <!-- <timepicker [(ngModel)]="mytime" (change)="changed()" [hourStep]="hstep"
                                [minuteStep]="mstep" [showMeridian]="ismeridian"
                                [readonlyInput]="!isEnabled" 
                                formControlName="endTime"></timepicker> -->
                  <div class="invalid-feedback d-block">
                                        <div
                                            *ngIf="submitted && addEditEventForm.controls.endTime.hasError('required')">
                                            End
                                            time is required.</div>
                                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="location">Location :</label>
            <input
              type="text"
              class="form-control"
              id="location"
              placeholder="Type your event location"
              formControlName="location"
              [ngClass]="{
                'is-invalid':
                  submitted && addEditEventForm.controls.location.errors,
                'is-valid':
                  submitted && !addEditEventForm.controls.location.errors
              }"
            />
            <div class="invalid-feedback d-block">
              <div
                *ngIf="
                  submitted &&
                  addEditEventForm.controls.location.hasError('required')
                "
              >
                location is required.
              </div>
            </div>
          </div>

          <!-- <div class="form-group form-check">
                      <span>Event Type :</span>
                      <input type="radio" id="free" name="eventType" value="free" class="form-control" id="eventType"  
                      formControlName="free"
                      [ngClass]="{'is-invalid': submitted && addEditEventForm.controls.free.errors, 'is-valid': submitted && !addEditEventForm.controls.free.errors}">
                      <label for="free">free</label><br>

                      <input type="radio" id="paid" name="eventType" value="paid" class="form-control" id="eventType" 
                      formControlName="paid"
                      [ngClass]="{'is-invalid': submitted && addEditEventForm.controls.paid.errors, 'is-valid': submitted && !addEditEventForm.controls.paid.errors}">
                      <label for="paid">paid</label><br>

                      <div class="invalid-feedback d-block">
                        <div *ngIf="submitted && addEditEventForm.controls.free.hasError('required') && addEditEventForm.controls.paid.hasError('required')">Event type is required.</div>
                    </div>
                    </div>  -->

          <div class="form-group">
            <label for="eventType">Event Type :</label>
            <select
              name="eventType"
              id="eventType"
              formControlName="eventType"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  submitted && addEditEventForm.controls.eventType.errors,
                'is-valid':
                  submitted && !addEditEventForm.controls.eventType.errors
              }"
            >
              <option value="paid">Paid</option>
              <option value="free">Free</option>
            </select>
            <div class="invalid-feedback d-block">
              <div
                *ngIf="
                  submitted &&
                  addEditEventForm.controls.eventType.hasError('required')
                "
              >
                Event type is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="numberOfTickets">Number Of Tickets :</label>
            <input
              type="number"
              id="numberOfTickets"
              name="numberOfTickets"
              min="1"
              max="100"
              formControlName="numberOfTickets"
              [ngClass]="{
                'is-invalid':
                  submitted && addEditEventForm.controls.numberOfTickets.errors,
                'is-valid':
                  submitted && !addEditEventForm.controls.numberOfTickets.errors
              }"
            />
            <div class="invalid-feedback d-block">
              <div
                *ngIf="
                  submitted &&
                  addEditEventForm.controls.numberOfTickets.hasError('required')
                "
              >
                numberOfTickets is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="price">Price :</label>
            <input
              type="number"
              id="price"
              name="price"
              min="1"
              max="100"
              formControlName="price"
              [ngClass]="{
                'is-invalid':
                  submitted && addEditEventForm.controls.price.errors,
                'is-valid': submitted && !addEditEventForm.controls.price.errors
              }"
            />
            <div class="invalid-feedback d-block">
              <div
                *ngIf="
                  submitted &&
                  addEditEventForm.controls.price.hasError('required')
                "
              >
                Price is required.
              </div>
            </div>
          </div>


          <fieldset class="form-group">
            <ng-select
            class="bootstrap"
            placeholder="Add Tags To Your Event"
            [options]="AllTags"
            [multiple]="true"
            formControlName="tags"></ng-select>
          </fieldset>
          <!-- <button type="submit" class="btn btn-success btn-block"
                        *ngIf="!showEditButton">Save</button>

                    <button type="button" class="btn btn-success btn-block" *ngIf="showEditButton"
                        (click)="saveEventChanges()">Save Changes</button>
                    <button type="button" class="btn btn-success btn-block" *ngIf="showEditButton"
                        (click)="cancelEventChanges()">Cancel</button> -->

          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-primary"
              *ngIf="!showEditButton"
            >
              <i class="fa fa-save"> Save</i>
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="editEvent()"
              *ngIf="showEditButton"
            >
              <i class="fa fa-save"> Save changes</i>
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              (click)="hideModal()"
            >
              <i class="fa fa-arrow-left"> Cancel</i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
