<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{
    src: 'assets/img/brand/BBBB.png',
    width: 89,
    height: 25,
    alt: 'pib'
  }"
  [navbarBrandMinimized]="{
    src: 'assets/img/brand/new.png',
    width: 30,
    height: 30,
    alt: 'pib'
  }"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'"
>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-EVENT px-1">
      <div class="input-group">
        <div class="input-group-prepend input-group-lg">
          <span class="input-group-text" id="basic-addon1"
            ><i class="fa fa-search"></i
          ></span>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Search events"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li
      class="nav-EVENT dropdown d-md-down-none"
      dropdown
      placement="bottom right"
    ></li>
    <li class="nav-EVENT dropdown" dropdown placement="bottom right">
      <a
        class="nav-link"
        data-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
        dropdownToggle
        (click)="(false)"
      >
        <button class="btn btn-link" routerLink="/home">Browse Events</button>
      </a>
    </li>
    <li class="nav-EVENT dropdown" dropdown placement="bottom right">
      <a
        class="nav-link"
        data-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
        dropdownToggle
        (click)="(false)"
      >
        <button class="btn btn-link" routerLink="/login">Create Account</button>
      </a>
    </li>
    <li class="nav-EVENT dropdown" dropdown placement="bottom right">
      <a
        class="nav-link"
        data-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
        dropdownToggle
        (click)="(false)"
      >
        <button class="btn btn-link">Help</button>
      </a>
      <div
        class="dropdown-menu dropdown-menu-right"
        *dropdownMenu
        aria-labelledby="simple-dropdown"
      >
        <a class="dropdown-EVENT" href="#"><i class="fa fa-user"></i> FAQ</a>
        <a class="dropdown-EVENT" href="#"
          ><i class="fa fa-wrench"></i>Contact Support</a
        >
        <button class="dropdown-EVENT" (click)="logoutFunction()">
          <i class="fa fa-lock"></i> Logout
        </button>
      </div>
    </li>
  </ul>
</app-header>

<div class="animated fadeIn" style="margin-top: 2cm">

  <div class="row events-card mx-5" *ngIf="EVENT">
    <div class="card">

      <div class="card-header">
        <img
        class="img-fluid"
        src="{{
          'http://localhost:3000/event-uploads/' + EVENT.eventPhoto
        }}"
        alt="eventPhoto"
      />
        <h1>{{ EVENT.eventName | uppercase }}</h1>
        <h5 style="font-weight: lighter">by {{EVENT?.company?.companyName}}</h5>
        <div *ngFor="let tag of EVENT.tags">
          <span class="badge bg-info">{{tag.tagName}}</span>
        </div>
      </div>

      <div class="card-body">
        <h5>Event Location : {{ EVENT.location }}</h5>
        <h5>Ticket Price : {{ EVENT.price }} TND</h5>
        <h5>Date : </h5>
        <h5>Time : {{EVENT.startTime | date:'shortTime'}} - {{EVENT.endTime | date:'shortTime'}}</h5>
        <h5>Event Type :</h5>
        <h5>Event Description :</h5>
          {{ EVENT.eventDescription }}
      </div>


      <div class="card-footer">
          <button
            type="button"
            class="btn btn-dark mr-1"
            data-toggle="modal"
            (click)="infoModal.show()"
            [disabled]="EVENT?.numberOfTickets == 0"
          >
            <i class="fa fa-ticket" aria-hidden="true"></i> Get Tickets
          </button>
      </div>

    </div>
  </div>


  <div
    bsModal
    #infoModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-info" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Get A Ticket</h4>
          <button
            type="button"
            class="close"
            (click)="infoModal.hide()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form [formGroup]="getTicketsForm" (ngSubmit)="getTicketFunction()">
          <div class="modal-body">
            <div class="form-group">
              <label for="firstName">First Name :</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                placeholder="Type your first name"
                formControlName="firstName"
                [ngClass]="{
                  'is-invalid':
                    submitted && getTicketsForm.controls.firstName.errors,
                  'is-valid':
                    submitted && !getTicketsForm.controls.firstName.errors
                }"
              />
              <div class="invalid-feedback d-block">
                <div
                  *ngIf="
                    submitted &&
                    getTicketsForm.controls.firstName.hasError('required')
                  "
                >
                  first name is required.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="lastName">Last Name :</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                placeholder="Type your last name"
                formControlName="lastName"
                [ngClass]="{
                  'is-invalid':
                    submitted && getTicketsForm.controls.lastName.errors,
                  'is-valid':
                    submitted && !getTicketsForm.controls.lastName.errors
                }"
              />
              <div class="invalid-feedback d-block">
                <div
                  *ngIf="
                    submitted &&
                    getTicketsForm.controls.lastName.hasError('required')
                  "
                >
                  first name is required.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="email">Email :</label>
              <input
                type="text"
                class="form-control"
                placeholder="Type your e-mail"
                formControlName="email"
                [ngClass]="{
                  'is-invalid':
                    submitted && getTicketsForm.controls.email.errors,
                  'is-valid':
                    submitted && !getTicketsForm.controls.email.errors
                }"
              />
              <div class="invalid-feedback d-block">
                <div
                  *ngIf="
                    submitted &&
                    getTicketsForm.controls.email.hasError('required')
                  "
                >
                  Email required
                </div>
                <div
                  *ngIf="
                    submitted &&
                    getTicketsForm.controls.email.hasError('email')
                  "
                >
                  Email invalid
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="infoModal.hide()"
            >
              Cancel
            </button>
            <button type="submit" class="btn btn-info" (click)="infoModal.hide()">Get My Ticket</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
