<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Bootstrap Modals
          </div>
          <div class="card-body">

            <button type="button" class="btn btn-primary mr-1" data-toggle="modal" (click)="primaryModal.show()">Add Event</button>

          </div>
        </div>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>



  <div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Add event</h4>
          <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>


        <div class="modal-body">
          <p>One fine body&hellip;</p>

          <div class="row">
            <div class="offset-3 col-6">
                <form [formGroup]="addEventForm" (ngSubmit)="addEventFunction()">

                    <div class="form-group">
                        <label for="name">Event Name :</label>
                        <input type="text" class="form-control" id="name" placeholder="Type event name here" formControlName="eventName"
                        [ngClass]="{'is-invalid': submitted && addEventForm.controls.eventName.errors, 'is-valid': submitted && !addEventForm.controls.eventName.errors}">
                         <div class="invalid-feedback d-block">
                            <div *ngIf="submitted && addEventForm.controls.eventName.hasError('required')">Event name is required.</div>
                        </div>
                    </div> 

                    <!-- <div class="form-group">
                        <label for="photo">Event Photo :</label>
                    </div> -->

                    <!-- <div class="form-group">
                        <label for="tags">Event Tags :</label>
                    </div> -->

                    <div class="form-group">
                        <label for="description">Event Description :</label>
                        <textarea class="form-control" row="10" id="description" placeholder="Type event description here" 
                        formControlName="eventDescription" 
                        [ngClass]="{'is-invalid': submitted && addEventForm.controls.eventDescription.errors, 'is-valid': submitted && !addEventForm.controls.eventDescription.errors}"></textarea>
                        <div class="invalid-feedback d-block">
                            <div *ngIf="submitted && addEventForm.controls.eventDescription.hasError('required')">Event description is required.</div>
                        </div>
                    </div> 

                    <div class="form-group">
                    <div class="animated fadeIn">
                        <label for="startDate">Start Date :</label>
                        <input type="text" class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="bsValue" 
                        formControlName="startDate">
                        <div class="invalid-feedback d-block">
                            <div *ngIf="submitted && addEventForm.controls.startDate.hasError('required')">Start date is required.</div>
                        </div>
                    </div>
                    </div> 

                    <div class="form-group">
                    <div class="animated fadeIn">
                        <label for="endDate">End Date :</label>
                        <input type="text" class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="bsValue" 
                        formControlName="endDate">
                        <div class="invalid-feedback d-block">
                            <div *ngIf="submitted && addEventForm.controls.endDate.hasError('required')">End date is required.</div>
                        </div>
                    </div>
                    </div> 

                    <div class="form-group">
                    <div class="animated fadeIn">
                        <label for="startTime">Start Time :</label>
                        <timepicker [hourStep]="hstep"
                        [minuteStep]="mstep" [showMeridian]="ismeridian"
                        [readonlyInput]="!isEnabled" 
                        formControlName="startTime"></timepicker>
                        <!-- <timepicker [(ngModel)]="mytime" (change)="changed()" [hourStep]="hstep"
                        [minuteStep]="mstep" [showMeridian]="ismeridian"
                        [readonlyInput]="!isEnabled" 
                        formControlName="startTime"></timepicker> -->
                        <div class="invalid-feedback d-block">
                            <div *ngIf="submitted && addEventForm.controls.startTime.hasError('required')">Start time is required.</div>
                        </div>
                    </div>
                    </div> 

                    <div class="form-group">
                    <div class="animated fadeIn">
                        <label for="endTime">End Time :</label>
                        <timepicker [hourStep]="hstep"
                        [minuteStep]="mstep" [showMeridian]="ismeridian"
                        [readonlyInput]="!isEnabled" 
                        formControlName="endTime"></timepicker>
                        <!-- <timepicker [(ngModel)]="mytime" (change)="changed()" [hourStep]="hstep"
                        [minuteStep]="mstep" [showMeridian]="ismeridian"
                        [readonlyInput]="!isEnabled" 
                        formControlName="endTime"></timepicker> -->
                        <div class="invalid-feedback d-block">
                            <div *ngIf="submitted && addEventForm.controls.endTime.hasError('required')">End time is required.</div>
                        </div>
                    </div>
                    </div> 


                    <div class="form-group">
                        <label for="location">Location :</label>
                        <input type="text" class="form-control" id="location" placeholder="Type your event location here" 
                        formControlName="location"
                        [ngClass]="{'is-invalid': submitted && addEventForm.controls.location.errors, 'is-valid': submitted && !addEventForm.controls.location.errors}">
                        <div class="invalid-feedback d-block">
                            <div *ngIf="submitted && addEventForm.controls.location.hasError('required')">location is required.</div>
                        </div>
                    </div> 

                    <div class="form-group">
                        <label for="numberOfTickets">Number Of Tickets :</label>
                        <input type="number" id="numberOfTickets" name="numberOfTickets" min="1" max="100"
                        formControlName="numberOfTickets"
                        [ngClass]="{'is-invalid': submitted && addEventForm.controls.numberOfTickets.errors, 'is-valid': submitted && !addEventForm.controls.numberOfTickets.errors}">
                        <div class="invalid-feedback d-block">
                            <div *ngIf="submitted && addEventForm.controls.numberOfTickets.hasError('required')">numberOfTickets is required.</div>
                        </div>
                    </div> 

                    <!-- <div class="form-group form-check">
                      <span>Event Type :</span>
                      <input type="radio" id="free" name="eventType" value="free" class="form-control" id="eventType"  
                      formControlName="free"
                      [ngClass]="{'is-invalid': submitted && addEventForm.controls.free.errors, 'is-valid': submitted && !addEventForm.controls.free.errors}">
                      <label for="free">free</label><br>

                      <input type="radio" id="paid" name="eventType" value="paid" class="form-control" id="eventType" 
                      formControlName="paid"
                      [ngClass]="{'is-invalid': submitted && addEventForm.controls.paid.errors, 'is-valid': submitted && !addEventForm.controls.paid.errors}">
                      <label for="paid">paid</label><br>

                      <div class="invalid-feedback d-block">
                        <div *ngIf="submitted && addEventForm.controls.free.hasError('required') && addEventForm.controls.paid.hasError('required')">Event type is required.</div>
                    </div>
                    </div>  -->

                    <div class="form-group">
                        <label for="price">Price :</label>
                        <input type="number" id="price" name="price" min="1" max="100"
                        formControlName="price"
                        [ngClass]="{'is-invalid': submitted && addEventForm.controls.price.errors, 'is-valid': submitted && !addEventForm.controls.price.errors}">
                        <div class="invalid-feedback d-block">
                            <div *ngIf="submitted && addEventForm.controls.price.hasError('required')">Price is required.</div>
                        </div>
                    </div> 
                    <button type="submit" class="btn btn-success btn-block">Save</button>
                </form>
            </div>
        </div>

        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->




  

 