<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>Companies List
                </div>
                <div class="card-body">
                    <!-- Button trigger modal -->
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" *ngIf="companyRole == 'superAdmin'" class="btn btn-primary my-1 float-right" data-toggle="modal"
                                (click)="showModalAdd()">
                                <i class="fa fa-plus"></i> Add
                                Company</button>
                        </div>
                    </div>


                    <div class="row mb-3">
                        <div class="col-md-4 offset-md-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                                </div>
                                <input type="text" class="form-control" [(ngModel)]="searchText"
                                    placeholder="Search ..." />
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-12">
                        <table class="table table-striped table-hover table-responsive-lg"
                            [mfData]="data | search : searchText" #mf="mfDataTable" [mfRowsOnPage]="5">
                            <thead>
                                <tr>
                                    <th>
                                        <mfDefaultSorter by="companyName">Company Name</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="companyDescription">Company Description</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="role">Role</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="email">Email</mfDefaultSorter>
                                    </th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let item of mf.data; let i=index">
                                    <td>{{item.companyName | uppercase}}</td>
                                    <td>{{item.companyDescription | lowercase | slice:0:3}}...</td>
                                    <td>{{item.role}}</td>
                                    <td>{{item.email}}</td>
                                    <td>
                                        <button class="btn btn-info text-white" (click)="showModalEdit(item._id)"><i
                                                class="fa fa-edit"></i> Edit</button>
                                        <button class="btn btn-danger my-1" *ngIf="companyId !== item._id" (click)="deleteCompany(item._id)"><i
                                                class="fa fa-trash"></i> Delete</button>
                                        <br>
                                    </td>
                                </tr>
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>

<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{modalTitle}}</h4>
                <button type="button" class="close" (click)="hideModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <!-- <p>One fine body&hellip;</p> -->

                <form [formGroup]="companyForm" (ngSubmit)="addCompanyFunction()">
                    <div class="form-group">
                        <label for="name">Company Name :</label>
                        <input type="text" class="form-control" id="name" placeholder="Type the company name"
                            formControlName="companyName"
                            [ngClass]="{'is-invalid': submitted && companyForm.controls.companyName.errors, 'is-valid': submitted && !companyForm.controls.companyName.errors}">
                        <div class="invalid-feedback d-block">
                            <div *ngIf="submitted && companyForm.controls.companyName.hasError('required')">Company
                                name is required.</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description">Company Description :</label>
                        <input type="text" class="form-control" id="description"
                            placeholder="Type the company description" formControlName="companyDescription"
                            [ngClass]="{'is-invalid': submitted && companyForm.controls.companyDescription.errors, 'is-valid': submitted && !companyForm.controls.companyDescription.errors}">
                        <div class="invalid-feedback d-block">
                            <div *ngIf="submitted && companyForm.controls.companyDescription.hasError('required')">
                                Company description is required.</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email">Company Email :</label>
                        <input type="text" class="form-control" placeholder="Type the company email"
                            formControlName="email"
                            [ngClass]="{'is-invalid': submitted && companyForm.controls.email.errors, 'is-valid': submitted && !companyForm.controls.email.errors}">
                        <div class="invalid-feedback d-block">
                            <div *ngIf="submitted && companyForm.controls.email.hasError('required')">email required
                            </div>
                            <div *ngIf="submitted && companyForm.controls.email.hasError('email')">email invalid</div>
                        </div>
                    </div>

                    <div *ngIf="!noPWD" class="form-group">
                        <label for="password">Company Password :</label>
                        <input type="password" class="form-control" placeholder="Type the company password"
                            formControlName="password"
                            [ngClass]="{'is-invalid': submitted && companyForm.controls.password.errors, 'is-valid': submitted && !companyForm.controls.password.errors}">
                        <div class="invalid-feedback d-block">
                            <div *ngIf="submitted && companyForm.controls.password.hasError('required')">password
                                required</div>
                            <div *ngIf="submitted && companyForm.controls.password.hasError('minlength')">password
                                invalid >5</div>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="companyRole == 'superAdmin'">
                        <label for="companyRole">Company Role :</label>
                        <select name="companyRole" id="companyRole" formControlName="role" class="form-control"
                            [ngClass]="{'is-invalid': submitted && companyForm.controls.role.errors, 'is-valid': submitted && !companyForm.controls.role.errors}">
                            <option value="admin">Admin</option>
                            <option value="superAdmin">Super Admin</option>
                        </select>
                        <div class="invalid-feedback d-block">
                            <div *ngIf="submitted && companyForm.controls.role.hasError('required')">
                                Role is required.</div>
                        </div>
                    </div>

                  
                    <div class="form-group">
                        <label for="companyPhoto">Company Photo :</label><br>
                        <input type="file" name="companyPhoto" accept="image/*" (change)="onSelectImage($event)">
                        <img [src]="imgURL" height="150" width="150" *ngIf="imgURL">
                    </div>


                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary " *ngIf="!showEditButton"><i class="fa fa-save">
                                Save</i></button>
                        <button type="button" class="btn btn-primary " (click)="editCompany()" *ngIf="showEditButton"><i
                                class="fa fa-save"> Save changes</i></button>
                        <button type="button" class="btn btn-secondary" (click)="hideModal()"><i
                                class="fa fa-arrow-left"> Cancel</i></button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->