<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>List Of Companies
                </div>
                <div class="card-body">
                    <!-- Button trigger modal -->
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary my-1 float-right" data-toggle="modal" (click)="showModalAdd()">
                                <i class="fa fa-plus"></i> Add
                                Company</button>
                        </div>
                    </div>


                    <div class="col-sm-12">
                        <table class="table table-striped table-hover">
                            <tr>
                                <th>Company Name</th>
                                <th>Company Description</th>
                                <th>Role</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                            <tr *ngFor="let item of listCompanies; let i=index">
                                <td>{{item.companyName}}</td>
                                <td>{{item.companyDescription}}</td>
                                <td>{{item.role}}</td>
                                <td>{{item.email}}</td>
                                <td>
                                    <button class="btn btn-info text-white" (click)="showModalEdit(item._id)"><i class="fa fa-edit"></i> Edit</button>
                                    <button class="btn btn-danger my-1" (click)="deleteCompany(item._id)"><i class="fa fa-trash"></i> Delete</button>
                                    <br>
                                </td>
                            </tr>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>

<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{modalTitle}}</h4>
                <button type="button" class="close" (click)="hideModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <!-- <p>One fine body&hellip;</p> -->

                <form [formGroup]="companyForm" (ngSubmit)="addCompanyFunction()">
                    <div class="form-group">
                        <label for="name">Company Name :</label>
                        <input type="text" class="form-control" id="name" placeholder="Company name"
                            formControlName="companyName"
                            [ngClass]="{'is-invalid': submitted && companyForm.controls.companyName.errors, 'is-valid': submitted && !companyForm.controls.companyName.errors}">
                        <div class="invalid-feedback d-block">
                            <div *ngIf="submitted && companyForm.controls.companyName.hasError('required')">Company
                                name is required.</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name">Company Description :</label>
                        <input type="text" class="form-control" id="name" placeholder="Company description"
                            formControlName="companyDescription"
                            [ngClass]="{'is-invalid': submitted && companyForm.controls.companyDescription.errors, 'is-valid': submitted && !companyForm.controls.companyDescription.errors}">
                        <div class="invalid-feedback d-block">
                            <div *ngIf="submitted && companyForm.controls.companyDescription.hasError('required')">
                                Company description is required.</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="companyRole">Compnay Role :</label>

                        <select name="companyRole" id="companyRole" formControlName="role" class="form-control"
                            [ngClass]="{'is-invalid': submitted && companyForm.controls.role.errors, 'is-valid': submitted && !companyForm.controls.role.errors}">
                            <option value="admin">Admin</option>
                            <option value="superAdmin">Super Admin</option>
                        </select>
                        <div class="invalid-feedback d-block">
                            <div *ngIf="submitted && companyForm.controls.role.hasError('required')">
                                Role is required.</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Username" formControlName="email"
                                [ngClass]="{'is-invalid': submitted && companyForm.controls.email.errors, 'is-valid': submitted && !companyForm.controls.email.errors}">
                        </div>
                        <div class="invalid-feedback d-block">
                            <div *ngIf="submitted && companyForm.controls.email.hasError('required')">email required
                            </div>
                            <div *ngIf="submitted && companyForm.controls.email.hasError('email')">email invalid</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group mb-4">
                            <input type="password" class="form-control" placeholder="Password"
                                formControlName="password"
                                [ngClass]="{'is-invalid': submitted && companyForm.controls.password.errors, 'is-valid': submitted && !companyForm.controls.password.errors}">
                        </div>
                        <div class="invalid-feedback d-block">
                            <div *ngIf="submitted && companyForm.controls.password.hasError('required')">password
                                required</div>
                            <div *ngIf="submitted && companyForm.controls.password.hasError('minlength')">password
                                invalid >5</div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="hideModal()">Close</button>
                        <button type="submit" *ngIf="!showEditButton" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-primary" (click)="editCompany()" *ngIf="showEditButton">Save changes</button>

                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->