<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">


                <form [formGroup]="forgetPasswordForm" (ngSubmit)="submit()">
                  <h1>Email Adress</h1>
                  <p class="text-muted">Enter you current Email Adress</p>

                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email" formControlName="email"
                      [ngClass]="{'is-invalid': submitted && forgetPasswordForm.controls.email.errors, 'is-valid': submitted && !forgetPasswordForm.controls.email.errors}">
                    <div class="invalid-feedback d-block">
                      <div *ngIf="submitted && forgetPasswordForm.controls.email.hasError('required')">email required
                      </div>
                      <div *ngIf="submitted && forgetPasswordForm.controls.email.hasError('email')">email invalid</div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <!-- <button type="submit" class="btn btn-primary mt-1" routerLink ="/resetpassword">Reset Password</button> -->
                      <button type="submit" class="btn btn-block btn-primary mt-1">Reset Password</button>
                    </div>
                  </div>
                </form>



              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
                  <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>